div {
    background-color: cadetblue;
    color: white;
    font-size: 18px;
    text-align: left;
    font-weight: bold;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    border-radius: 8px;

}
a:link{
    text-decoration: none;
color: white;
}
a:visited {
    text-decoration: none;    
color: wheat;
}
a:hover {
    text-decoration: underline;
}
a:active{
    text-decoration: underline;
}
h1{
    color: wheat;
    text-align: center;
}
p {
    color: wheat;
    text-align: center;
}

.title {
    border: 10px ;
    background-color: darkgray;
    width: 25%;
}